<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="footer-address-box">
					<h2>Остались вопросы?</h2>
					<p><strong>ТОО "Асар Логистик"</strong><br>
						<strong>Адрес:</strong> ул.Желтоксан 96, 3 этаж<br>
						<strong>Email:</strong> asar.logistics@mail.ru</p>
					<p><small>&#169; 2013 Все права защищены</small></p>
				</div>
			</div>
			<div class="col-md-5">  
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="footer-phone-box">
				<h2>+38(099)000-00-00<br>+38(099)000-00-00</h2>
				<a href="#modal" class="footer-button" data-toggle="modal" data-target="#telModal">заказать звонок</a>
			</div>
			</div>
		</div>
	</div>
</footer>