<header class="navbar">
	<div class="container">
		<div class="navbar-header">
			<a href="#" class="navbar-logo">
				<div class="logo-box"></div>
			</a>
			<div class="navbar-text-box">
				<h1>kazakhstan global logistic</h1>
				<h1>грузоперевозки из китая</h1>
				<h1>во все регионы казахстана и росcии</h1>
			</div>
			<div class="navbar-phone-box">
				<h1>+38(099)000-00-00</h1>
				<h1>+38(099)000-00-00</h1>
				<a href="#modal" class="navbar-button" data-toggle="modal" data-target="#telModal">заказать звонок</a>
			</div>
			
		</div>
		<div class="row row-main">
			<div class="main">
				<div class="main-1">
					<h1 class="main-h1">поиск, доставка грузов из китая</h1><br>
					<h1 class="main-h2">офисы в казахстане и кнр</h1>
				</div>
				<div class="main-2">
					<h1 class="main-h3 main-h3-1">выход на заводы и фабрики</h1><br>
					<h1 class="main-h3 main-h3-2">напрямую без посредников</h1>
				</div>
				<div class="main-3">
					<h1 class="main-h3 main-h3-1">мебельные туры в китай<br></h1>
					<h1 class="main-h3 main-h3-2">сопровождение на всех этапах</h1>
				</div>
			</div>
			<div class="main-form">
				<form action="#" method="post">
					<p>Закажите транспорт <br>прямо сейчас!</p>
					<input class="input-1" type="text" name="name" placeholder="имя" required>
					<input class="input-2" type="email" name="email" placeholder="e-mail" required>
					<input class="input-3" type="tel" name="telephone" placeholder="телефон" required>
					<input class="navbar-button form-button" type="submit" value="Отправить">
				</form>
				<p class="form-footer">Консультацию получили 745 компаний</p>
			</div>	
		</div>
	</div>
</header>