.grid-items-group{
	margin-top:0;
	&+div,
	&+p{
		margin-top:0!important;
	}
	.grid-item{
		margin-bottom:50px;
		&>div,
		&>p{
			&+div,
			&+p{
				margin-top:20px;
			}
		}
		.grid-item-number{
			color:@color-primary;
			border-radius:100px;
			width:28px;
			height:28px;
			border:1px solid @color-primary;
			text-align:center;
			line-height:26px;
			margin:0 auto;
		}
		.grid-item-icon{
			color:fade(@color-dark,60%);
			font-size:75px;
			text-align:center;
			line-height:75px;
			@media(max-width:768px){
				font-size:50px;
				line-height:50px;
			}
		}
		.grid-item-counter{
			font-size:48px;
			text-align:center;
			line-height:48px;
			@media(max-width:768px){
				font-size:30px;
				line-height:30px;
			}
		}
		.grid-item-text{
			margin-bottom:0;
			letter-spacing:3px;
			text-align:center;
		}
	}
	&.on-dark{
		.grid-item{
			color:@color-light;
			.grid-item-number{
				.mxg-box-shadow-twoside();
			}
			.grid-item-icon{
				color:fade(@color-light,60%);
				.mxg-text-shadow()
			}
			.grid-item-text{
				.mxg-text-shadow()
			}
		}
	}
}